.slider_container {
  width: 100%;
  max-width: 1200px; /* Limite máximo de largura */
  margin: 0 auto; /* Centraliza o contêiner */
  padding: 0 1rem; /* Adiciona um pouco de padding horizontal */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.slider_container img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-block: 1rem;
}

.h1_roadmap {
  text-align: center;
  font-weight: bold;
  color: var(--white);
  margin-bottom: 1rem; /* Espaçamento inferior */
}

.h1_roadmap span {
  color: var(--orange-color);
}

@media (max-width: 1024px) {
  .slider_container {
    max-width: 100%;
    width: 900px;
  }
}

@media (max-width: 768px) {
  .slider_container {
    width: 100%;
    width: 600px;
    padding: 0; /* Remove o padding horizontal em telas menores */
  }
}

@media (max-width: 425px) {
  .slider_container {
    padding: 0;
    width: 900px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .slider_container {
    padding: 0;
    padding: 0;
    width: 600px;
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .slider_container {
    padding: 0;
    width: 300px;
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .slider_container {
    padding: 0;
    width: 250px;
    max-width: 100%;
    width: 300px;
  }
}
@media (max-width: 250px) {
  .slider_container {
    padding: 0;
    width: 180px;
    border-radius: 1rem;
   
  }
}
