.slider_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.slider_container img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-block: 1rem;
}

.h1_roadmap {
  text-align: center;
  font-weight: bold;
  color: var(--white);
  margin-bottom: 1rem;
}
.slider_container h3 {
  color: var(--white);
  text-align: center;
  margin-block: 1rem;
}
.h1_roadmap span {
  color: var(--orange-color);
}

@media (max-width: 1024px) {
  .slider_container {
    padding: 0;
    width: 900px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .slider_container {
    padding: 0;
    padding: 0;
    width: 600px;
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .slider_container {
    padding: 0;
    width: 300px;
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .slider_container {
    padding: 0;
    width: 250px;
    max-width: 100%;
  }
}
