.contact {
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  padding: 6.875rem 3% 3.75rem;
}

.contact_text {
  color: var(--white);
}

.contact_text h2 {
  font-size: 3rem;
  line-height: 1;
  color: var(--white);
}

.contact_text h2 span {
  color: var(--orange-color);
}

.contact_text h4 {
  margin: 1.125rem 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.contact_text p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.875rem;
}

.list2 {
  margin-bottom: 2.8rem;

}

.list2 li {
  margin-bottom: 0.75rem;

}

.list2 li a {
  display: block;
  color: var(--white) ;
  font-size: 0.875rem;
  transition: all 0.45s ease;
  text-decoration: none;
}

.list2 li a:hover {
  color: var(--orange-color);
  transform: translateX(0.3125rem);
}

.contact_icons a {
  text-decoration: none;
}

.contact_icons i {
  height: 2.8125rem;
  width: 2.8125rem;
  background: var(--orange-color);
  color: var(--white);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin-right: 0.9375rem;
  transition: all 0.45s ease;
}

.contact_icons i:hover {
  transform: scale(1.1);
}

.contact_form {
  position: relative;
}

.contact_form input,
.contact_form textarea,
.contact_form select {
  width: 100%;
  padding: 0.875rem;
  background: #000;
  color: var(--white);
  border: 1px solid var(--orange-color);
  outline: none;
  font-size: 0.9375rem;
  border-radius: 0.5rem;
  margin-bottom: 0.625rem;
}

.contact_form textarea {
  resize: none;
  height: 15rem;
}

.submit {
  display: inline-block;
  font-size: 1rem;
  background: var(--orange-color);
  color: var(--white);
  transition: all 0.45s ease;
  border: none;
  cursor: pointer;
}

.submit:hover {
  transform: scale(1.05);
  background-color: var(--orange-color);

}


/* Responsividade */
@media (max-width: 768px) {
  .contact {
      grid-template-columns: 1fr;
      padding: 5rem 5%;
  }

  .contact_text h2 {
      font-size: 2.5rem;
      text-align: center;
  }

  .contact_text h4, .contact_text p {
      text-align: left;
  }

  .contact_form {
      margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .contact {
      padding: 3rem 3%;
  }

  .contact_text h2 {
      font-size: 2rem;
  }

  .contact_text h4, .contact_text p {
      font-size: 1rem;
  }

  .contact_icons i {
      height: 2.5rem;
      width: 2.5rem;
      font-size: 18px;
  }

  .submit {
      width: 100%;
      text-align: center;
  }
}

@media (max-width: 320px){
  .contact{
    padding-right: 0;
  }
}


@media (max-width: 250px) {
  .contact{
    /* padding-left: 3rem; */
    width: 95%;
  }

  .contact h2{
    font-size: 1rem;
  }

  .contact_text h4, .contact_text p {
    font-size: .8rem;
    width: 95%;
  }
  
  .list2 li {
    font-size: .9rem;
  }

  .contact_form input,
  .contact_form textarea,
  .contact_form select
   {
    width: 14rem;
    font-size: .5rem;
  }
}
