.headerAdm {
  display: flex;
  width: 100%;
  height: 8.125rem;
  background-color: #000002;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;
  color: var(--white);
}

.search {
  display: flex;
  align-items: center;
  background-color: #f5f7fd;
  width: 100%;
  max-width: 500px;
  height: 55px;
  border-radius: 30px;
  position: relative;
  padding: 0 10px;
}

input:focus::placeholder {
  color: transparent;
}

.linkVoltar {
  color: var(--white);
  display: block;
  margin-left: 2rem;
}

.search .lupa {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

i {
  font-size: 30px;
  color: #fff;
}

.lupa i {
  font-size: 19px;
  color: #000002;
}

.search .input {
  flex-grow: 1;
  height: 100%;
  background-color: #f5f7fd;
  overflow: hidden;
  border-radius: 30px;
}

.search .input input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  font-size: 15px;
  background-color: #f5f7fd;
  padding: 0 1rem;
  box-sizing: border-box;
}

.right {
  display: flex;
  align-items: center;
}

.right .notification,
.right .chat,
.right .admperfil {
  margin-left: 1rem;
  cursor: pointer;
}

.admperfil {
  position: relative;
}

@media (max-width: 768px) {
  .headerAdm {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .search {
    width: 100%;
    margin: 1rem 0;
  }

  .linkVoltar {
    margin: 0;
  }

  .right {
    margin-top: 1rem;
  }
}
