
.tabelaInt{
    background-color: var(--primary-color);
    border-radius: 0.8rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    overflow: hidden;
    max-width: 100%;

}

.table__header{
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
    padding: .8rem 1rem;
}

.table__body {
    width: 95%;
    max-height: 89%;
    background-color: var(--light-gray);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

table{
    width: 100%;
}

table, th, td{
    max-width: 100%;
    padding: 0.5rem;
    color: var(--text-color);
    border-collapse: collapse;
    text-align: center;
}

h1{
    color: var(--text-color);
    text-align: center;
}

.description {
    font-size: 112x;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #bab7befe;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}