.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  color: white;
}

.servicos .title_servicos {
  padding-block: 2rem;
  font-size: 2.5rem;
}

.titulo_Servicos {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.container_servicos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.1875rem 1.25rem;
  /* width: 100rem; */
}

.titulo1,
.titulo3,
.titulo5,
.titulo6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'foto titulo titulo'
    'foto descricao descricao'
    'foto descricao descricao';
}

.titulo2,
.titulo4,
.titulo6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'foto titulo titulo'
    'foto descricao descricao'
    'foto descricao descricao';
}

.foto {
  grid-area: foto;
  margin-inline: 2rem;
}

.titulo {
  grid-area: titulo;
  color: var(--orange-color);
  font-size: 0.625rem;
}

.descricao {
  grid-area: descricao;
  width: 20rem;
}

/* Ajudeste para telas de 1440px */

/* Ajustes para telas menores que 1024px */
@media (max-width: 1024px) {
  .container_servicos {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
  .servicos .title_servicos {
    font-size: 2rem;
  }

  .container_servicos {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .titulo1,
  .titulo2,
  .titulo3,
  .titulo4,
  .titulo5,
  .titulo6 {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'foto titulo'
      'foto descricao';
    margin-block: 1.5rem;
  }
}

/* Ajustes para telas menores que 425px */
@media (max-width: 425px) {
  .servicos {
    padding: 1rem;
    align-items: center;
    text-align: center;
  }

  .servicos .title_servicos {
    font-size: 1.5rem;
    padding-block: 1rem;
  }

  .titulo1,
  .titulo2,
  .titulo3,
  .titulo4,
  .titulo5,
  .titulo6 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'foto'
      'titulo'
      'descricao';
    margin-block: 2rem;
  }
}
