.app{
    max-width: 1100px;
    width: 100%;
}
.app {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto; 
    padding: 0 1rem; 
  }
  

  @media (max-width: 1264px) {
    .app {
      max-width: 100%;
      padding: 0 2rem; 
    }
  }
  
  @media (max-width: 768px) {
    .app {
      padding: 0 1.5rem; 
    }
  }
  

  @media (max-width: 425px) {
    .app {
      padding: 0 1rem; 
    }
  }
  