.admPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

@media (max-width: 425px){
  .admPage{
    padding: 0;
  }
}
@media (max-width: 768px){
  .admPage{
    padding: 0;
  }
}
